*.runs/
*.cache/
*.hw/
*.ip_user_files/
*.sim/
.Xil/
workspace/
*.jou
*.log
*.str
build/
*.o
__pycache__/
.ipynb_checkpoints/
log_data/
train_data/
tensorflow-datasets/
*.h5
*_deq.bin
.DS_Store

hw/simple_interface/
hw/xsa/*.log

# Vitis workspaces made by the scripts, Word lock files
workspace*/
~$*
